<template>
  <div class="home">
    <place-filter v-on:refresh="refreshFeed"></place-filter>
    <Wrapper v-cloak>
        <Places ref="places"/>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from '@/components/Wrapper/Wrapper'
import HandleFilter from '../../mixins/HandleFilter'
import PlaceFilter from '@/components/PlaceFilter'
import Places from '@/components/Places/Places'
import GoBar from '@/components/GoBar/GoBar'

export default {
  mixins: [HandleFilter],
  components: {
    Wrapper, PlaceFilter, Places, GoBar
  },
  name: 'Home',
  methods: {
    refreshFeed () {
      this.$refs.places.getPlaces()
    }
  }
}
</script>

<style lang="stylus" scoped>
@require '../../config/config.styl'

.home
  margin 0 auto
  margin-top headerHeight
  display flex
  justify-content flex-start
  flex-direction column
  align-content flex-end
  margin-bottom headerHeight + 5

.title
  font-size 4rem
  color primaryColor
  line-height 1
  margin: auto auto 20px auto
  text-shadow -2px 2px 2px rgba(black, .2)

.fade-enter-active
  animation fade 300ms ease-in-out

.fade-leave-active
  animation fade 300ms ease-in-out reverse

@keyframes fade 
  from
    opacity 0
  to
    opacity 1
</style>

