<template>
  <div class="create-user-form">
    <div class="wrapper">
      <div class="header">
      <h1>Sign In</h1>
    </div>
    <div class="rule"></div>
    <form class="form" v-on:submit.prevent="submitForm">
      <div class="section">
        <label for="email">Email</label>
        <input v-model="email" type="email" name="email" placeholder="jane.doe@gmail.com">
      </div>
      <div class="section">
        <label for="password">Password</label>
        <input v-model="password" type="password" name="password" placeholder="password">
      </div>
      <app-button class="submit" title="Sign In" @click.native="submitForm" />
    </form>
    <span class="link" @click="handleSignUpLink">Sign Up</span>
    </div>
  </div>  
</template>

<script>
import Button from '@/components/Button'
import { User } from '../../Services/Api'
import TokenStore from '../../mixins/LocalStorage'

export default {
  components: { 'app-button': Button },
  mixins: [ TokenStore ],
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    async submitForm () {
      try {
        const response = await User.logInUser(this.email, this.password)
        this.$store.commit('setAuth', true)
        localStorage.setItem('token', response.data.token)
        alert('Successfully logged in')
        this.$router.push({ path: '/user/settings' })
      } catch (e) {
        alert(e.response.data.error)
      }
    },
    handleSignUpLink () {
      this.$router.push({ path: '/user/signup' })
    }
  },
  mounted () {

  }
}
</script>

<style lang="stylus" scoped>
@require '../../config/config'

.header
  padding 10px 10px 20px 10px

.wrapper
  display flex
  flex-direction column
  max-width 800px
  height 100vh - headerHeight

.create-user-form
  overflow hidden
  position absolute
  height 100vh
  width 100vw
  z-index 30
  background baseColor
  display flex
  flex-direction column
  top 0
  bottom 0
  left 0
  right 0
  margin auto
  // padding 10px
  box-sizing border-box

h1
  margin-top headerHeight
  margin-bottom 5px

p
  font-size 1.5rem
  line-height 1.4
  margin 0

input
 border-radius borderRadius
 border none
 width 100%
 box-sizing border-box
 padding 5px 10px
 box-shadow inputShadow

label
  display block
  margin 5px 0
  font-weight 600

.section
  margin 20px 0

.form
  padding 10px

.submit
  margin-left auto
  display block
  text-align center

.link
  margin auto
  margin-bottom 10px
  color tertiaryColor
</style>
