<template>
  <Page v-cloak>
    <static-map :distance="place.distance" v-if="!loading" @click.native.stop="handleDirections"/>
    <div class="content">
      <div v-if="loading" class="flex">
      <sync-loader class="loader" :loading="loading" :color="color"/>
    </div>
    <div v-else v-cloak>
      <h1 class="name">{{ place.name }}</h1>
      <h3 class="location">{{ place.location.string }}</h3>
      <span v-if="place.days[`${day}`]" class="deal">{{ place.days[`${day}`].deal }}</span>
    </div>
    </div>
    <div class="page-content">
      <p> Something wrong?</p>
      <div class="buttons">
        <app-button title="Edit Place" :primary="true" />
        <app-button title="Tell Us" />
      </div>
    </div>
  </Page>
</template>

<script>
import Button from '@/components/Button'
import Page from '../shared/Page'
import API from '@/Services/Api'
import SyncLoader from 'vue-spinner/src/SyncLoader'
import StaticMap from '@/components/StaticMap/StaticMap'

export default {
  components: { Page, SyncLoader, StaticMap, 'app-button': Button },
  data () {
    return {
      title: this.$route.params.id,
      id: this.$route.params.id,
      place: {},
      loading: true,
      color: '#4CCECA'
    }
  },
  methods: {
    handleDirections () {
      // this.$store.commit('setDestinationLocation', this.place.location.coords)
      this.$store.commit('setMapPicker', true)
    }
  },
  computed: {
    day () {
      return this.$store.state.day.value
    }
  },
  mounted () {
    const vm = this
    this.loading = true
    API.getPlaceByID(this.id, 'Metric', 'Walking', this.$store.getters.userLocation.lat, this.$store.getters.userLocation.lng)
      .then((res) => {
        vm.place = res.data
        vm.loading = false
        this.$store.commit('setDestinationLocation', this.place.location.coords)
      })
      .catch((err) => {
        this.$store.commit('setDialogue', { open: true, message: err.response.data })
      })
  }
}
</script>

<style lang="stylus" scoped>
@require '../../config/config.styl'
.flex
  display flex
.loader
  margin auto
.content
  z-index 29
  position absolute
  top 8vh
  width 100%
  @media (min-width: 700px)
    text-align center
    position relative
    font-size 1.7rem

.name
  font-weight 700
  margin 0
  text-shadow -1px 2px 2px rgba(black, .2)
.location
  margin 0
  text-shadow -1px 2px 2px rgba(black, .2)
  margin-bottom 10px
.deal
  background tertiaryColor
  padding 5px 10px
  font-size 1rem
  border-radius 3px

[v-cloak]
  display none

.page-content
  display flex
  align-items center
  flex-direction column
  margin-top 384px
</style>
