<template>
  <div class="settings">
    <ul>
      <li><router-link to="/submit">Add Happy Hour</router-link><span>🎉</span></li>
      <li>Feature Request <span>💅</span></li>
      <li>Submit Feedback<span>👨‍🔬</span></li>
      <li>Report Incorrect Data<span>👎</span></li>
      <li>Drink Aware<span>👌</span></li>
      <li>Privacy <span>🕵️‍♀️</span></li>
      <li @click="handleLogOut">Log Out <span>👋</span></li>
    </ul>
  </div>
</template>
<script>
export default {
  data () {
    return {
    }
  },
  methods: {
    handleLogOut () {
      const ok = confirm('Are you sure you want to log out?')
      if (ok) {
        this.$store.commit('setAuth', false)
        localStorage.clear()
        this.$router.push({ path: '/' })
        alert('Successfully logged out.')
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
@require '../../config/config.styl'

.settings
  margin-top headerHeight
  height 100vh - (headerHeight * 2.5)
ul
  height 100%
  padding 0
  display flex
  flex-direction column
  justify-content flex-start

li
  border-bottom solid 2px lighten(baseColor, 10%)
  font-size 1.3rem
  display flex
  align-items center
  align-content center
  list-style none
  padding 10px
  font-weight 300
  box-sizing border-box
  &:hover
    background lighten(baseColor, 10%)
    cursor pointer
  span
    margin-left auto
    opacity .7
</style>
