<template>
  <div class="wrapper">
    <form>
      <input type="text">
    </form>
  </div>
</template>
<script>
export default {
  data () {
    return {
      name: ''
    }
  }
}
</script>
<style lang="stylus">

</style>
