<template>
  <header class="c-header">
      <transition name="slide" mode="out-in">
        <span class="back" @click="handleBackButton" v-if="this.$store.state.currentRoute !== 'home'">
          <svg width="18" height="13" xmlns="http://www.w3.org/2000/svg"><path d="M5.322 12.692c.605.651 1.677.207 1.677-.741V8.574h9.076C17.147 8.574 18 7.655 18 6.5c0-1.155-.853-2.074-1.925-2.074H6.999V1.05C7 .101 5.954-.343 5.322.31L.289 5.758a1.094 1.094 0 0 0 0 1.482l5.033 5.45z" fill="#FFF" fill-rule="nonzero"/></svg>
        </span>
        <router-link style="display: flex" v-if="this.$store.state.currentRoute === 'home'" to="/">
          <Logo class="c-header__logo"/>
        </router-link>
      </transition>
      <div @click="handleSearch" class="search-wrapper">
          <form @submit.prevent="alert('submitting')" action="http://localhost:8081/places" method="GET">
            <input placeholder="Search places, locations..." class="c-header__input" @blur="searching = false" v-focus.lazy="true">
          </form>
      </div>
        <router-link class="cog" :to="userRoute">
        <svg v-if="authenticated" width="17" height="20" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(-42 -68)" fill="none" fill-rule="evenodd">
            <path d="M50 77.3c2.5 0 4.6-2 4.6-4.5 0-2.6-2-4.6-4.6-4.6a4.6 4.6 0 0 0 0 9.2zm7.9 3.7l-.5-.8a5.7 5.7 0 0 0-4-2.5l-.5.1c-.9.6-1.9 1-2.9 1s-2-.4-2.9-1a.8.8 0 0 0-.6-.1 5.7 5.7 0 0 0-4.4 3.3v.4a8 8 0 0 0 1.5 1.8l1 .8a9 9 0 0 0 13.2-2.6c.1-.1.1-.3 0-.4z" fill="#C5D86D" fill-rule="nonzero"/>
            <circle fill="#FFF" cx="54" cy="83" r="5"/>
            <path d="M51.8 83.5l1.7 1.4m0 0l2.8-3.6" stroke="#C5D86D" stroke-linecap="square"/>
          </g>
        </svg>
          <svg v-else width="16" height="18" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 9.3c2.5 0 4.6-2 4.6-4.5 0-2.6-2-4.6-4.6-4.6a4.6 4.6 0 0 0 0 9.2zm7.9 3.7l-.5-.8a5.7 5.7 0 0 0-4-2.5l-.5.1c-.9.6-1.9 1-2.9 1s-2-.4-2.9-1a.8.8 0 0 0-.6-.1A5.7 5.7 0 0 0 .1 13v.4a8 8 0 0 0 1.5 1.8l1 .8a9 9 0 0 0 13.2-2.6c.1-.1.1-.3 0-.4z" fill="#fff"/>
          </svg>
        </router-link>
  </header>
</template>

<script>
import focus from 'vue-focus'
import Logo from '../../assets/logo.svg'
import SearchIcon from '../../assets/search.svg'
import TokenStore from '../../mixins/LocalStorage'

export default {
  directives: {focus},
  mixins: [TokenStore],
  components: {
    Logo, SearchIcon
  },
  data () {
    return {
      searching: false,
      isHome: true,
      title: '0.1.0-pre-alpha '
    }
  },
  methods: {
    handleSearch () {
      this.searching = true
    },
    handleBackButton () {
      this.$router.go(-1)
      this.searching = false
    },
    reload () {
      location.reload()
    }
  },
  computed: {
    authenticated () {
      return this.$store.state.auth
    },
    userRoute () {
      if (this.$store.state.auth) {
        return '/user/settings'
      } else {
        return '/user/login'
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
@require '../../config/config.styl'

.c-header
  position fixed
  width 100vw
  top 0
  height headerHeight
  border-bottom solid 2px primaryColor
  box-sizing border-box
  padding 0 15px
  display flex
  box-sizing border-box
  justify-content space-between
  align-items center
  z-index 31
  background baseColor

.c-header__title
  color primaryColor
  font-size 1.2rem
  transition all 200ms naturalMovement
  font-weight 600
  font-family 'VT323', monospace

.cog
  display flex
  margin-right 5px
.c-header__input
  background white
  border-radius 3px
  border none
  padding 5px 15px
  font-weight 400
  font-size 16px
  transition all 200ms ease-out
  box-shadow inputShadow

.search-wrapper
  margin-left auto
  margin-right 15px
  display inline-flex
  &:hover
    opacity .8
    cursor pointer


.slide-enter-active
  animation slide 300ms naturalMovement
// .slide-leave-active
  // animation slide 300ms naturalMovement reverse

@keyframes slide
  from
    opacity 0
    transform translateX(-40px)
  to
    opacity 1
    transform translateX(0)

.back
  noSelect()
  font-weight 600
  &:hover
    cursor pointer
    opacity .8
</style>
