<template>
  <header class="c-header">
      <app-button @click.native="pop" title="< Back"/>
      <app-button @click.native="push" title="Forward >"/>
  </header>
</template>

<script>
import router from '../../router'
import AppButton from '@/components/Button'

export default {
  components: {
    AppButton
  },
  data () {
    return {
      title: 'mappyhournow'
    }
  },
  methods: {
    pop () {
      router.go(-1)
    },
    push () {
      router.go(1)
    }
  }
}
</script>

<style lang="stylus" scoped>
@require '../../config/config.styl'

.c-header
  border-bottom solid 2px primaryColor
  padding 10px
  display flex
  justify-content space-between
  align-items center

.c-header__title
  color primaryColor
  font-size 1.5rem
  font-weight lighter



</style>
