<template>
  <div class="page">
    <slot></slot>
  </div>
  </page>  
</template>
<script>
</script>
<style lang="stylus" scoped>
@require '../../config/config.styl'

.page
  position relative
  margin headerHeight auto
  padding 10px
  min-height 100vh
  box-sizing border-box
  // max-width 800px
  @media (min-width: 700px)
    display flex
    flex-direction column
    align-items center
    // display none
</style>
