<template>
  <div class="wrapper">
    <dialogue :active="dialogueActive" :message="dialogueMessage" />
    <span v-if="error">Sorry, cannot connect, try again later.</span>
      <sync-loader class="loader" :loading="loading" :color="color"/>
          <div class="list" v-if="!loading">
              <Card v-for="place in placeList"
                  :key="place._id"
                  :id="place._id"
                  :title="place.name"
                  :location="place.location"
                  :deal="place.days[5].deal"
                  :time="place.days[5].timeString"
                  :distanceText="place.distance ? place.distance.text : undefined"
                  :durationText="place.duration ? place.duration.text : undefined"
                  >
              </Card>
          </div>
    <div class="end-text" v-if="!loading">
        <p>That's all there is right now 😩</p>
        <p>Know something we don't?</p>
        <p> <app-button title="Add Happy Hour" :primary="true"></app-button></p>
    </div>
  </div>
</template>
<script>
import API from '@/Services/Api'
import Card from '@/components/Card'
import Button from '@/components/Button'
// Node Modules
import SyncLoader from 'vue-spinner/src/SyncLoader'
import Dialogue from '../shared/Dialogue/Dialogue'

export default {
  name: 'Places',
  components: { Card, SyncLoader, 'app-button': Button, Dialogue },
  data () {
    return {
      loading: false,
      placeList: [],
      error: false,
      color: '#4CCECA',
      dialogueActive: false,
      dialogueMessage: ''
    }
  },
  methods: {
    sortPlacesByGeo () {
      this.placeList.sort((a, b) => {
        return a.distance.value - b.distance.value
      })
    },
    getPlaces () {
      this.loading = true
      const vm = this
      // abstract
      if (this.$store.getters.userLocation.lng) {
        console.log('Getting places with dist', this.$store.getters.userLocation.lng)
        API.getPlacesWithDistance('Metric', 'Walking', 8000000, this.$store.getters.userLocation.lng, this.$store.getters.userLocation.lat)
        .then((res) => {
          vm.placeList = res.data
          vm.loading = false
        })
        .catch((err) => {
          if (err) {
            this.$store.commit('setDialogue', { open: true, message: err.response.data })
            vm.placeList = undefined
            vm.error = true
          }
        })
      } else {
        console.log('Getting places not based on distance...')
        API.getPlaces()
        .then((res) => {
          vm.loading = false
          vm.placeList = res.data
        })
        .catch((err) => {
          this.$store.commit('setDialogue', { open: true, message: err })
          vm.placeList = undefined
          vm.error = true
        })
      }
    }
  },
  mounted () {
    this.getPlaces()
  },
  computed: {
    day () {
      return this.$store.state.day.value
    }
  }
}
</script>
<style lang="stylus" scoped>
.list
  overflow-y auto
  width 100%
  -webkit-overflow-scrolling touch

.wrapper
  width 100%

.end-text
  text-align center
  margin 20px auto

.loader
  margin 5vh auto
</style>
