<template>
  <div class="wrapper">
    <slot></slot>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="stylus" scoped>
.wrapper
  width 95%
  max-width 950px
  margin 0 auto
  display flex
  align-items flex-start
  flex-direction column
</style>
