primaryColor = #4CCECA
primaryTextColor = #fff

secondaryColor = #c5d86d
secondaryTextColor = #fff

tertiaryColor = #E76EBD
tertiaryTextColor = #fff

baseColor = #2e294e
textColor = #fff

borderRadius = 3px

headerHeight = 8vh

naturalMovement = cubic-bezier(1, 0, 0, 1)

noSelect()
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;



noTapHighlight()
  -webkit-tap-highlight-color rgba(0,0,0,0)

img
  max-width: 100%

inputShadow = -1px 2px 2px rgba(black, .5)

.rule
  widht 100%
  background primaryColor
  height 2px