<template>
  <div v-if="active" class="alert">
    <div class="content">
      <p>{{ message }}</p>
    </div>
    <div class="bottom-bar">
      <div v-if="confirm" @click="handleCancel" class="cancel">
      Cancel
      </div>
    <div class="confirm" @click="handleOK">Ok</div>
    </div>
  </div>  
</template>
<script>
export default {
  props: ['confirm'],
  methods: {
    handleCancel () {
      this.$emit('onCancel')
      this.$store.commit('setDialogue', { open: false, message: '' })
    },
    handleOK () {
      this.$emit('onOK')
      this.$store.commit('setDialogue', { open: false, message: '' })
    }
  },
  computed: {
    message () {
      return this.$store.state.dialogue.message
    },
    active () {
      return this.$store.state.dialogue.open
    }
  }
}
</script>

<style lang="stylus" scoped>
@require '../../../config/config.styl'

body
  background rgba(#000, .9)

.content
  padding 30px 50px
  overflow-y auto

.alert
  color #444
  overflow hidden
  box-shadow -2px 2px 7px rgba(black, .4)
  display flex
  flex-direction column
  max-width 400px
  max-height 200px
  @media (max-width: 700px)
    max-width 90vw
  background white
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  margin auto
  border-radius 5px

.bottom-bar
  display flex
  align-items center
  margin-top auto
  height 5vh
  width 100%
  border-top 1px solid rgba(grey, .3)
  justify-content flex-end
  padding 30px
  box-sizing border-box

.cancel, .confirm
  margin 20px
  padding 5px 10px
  border-radius 5px
  &:hover
    cursor pointer
    background rgba(#333, .1)

.cancel
  color #555
.confirm
  color #0093C9
</style>
