<template>
    <div class="c-button" :class="primary ? 'primary' : 'secondary'">{{ title }}</div>
</template>

<script>
export default {
  props: ['title', 'primary', 'secondary'],
  name: 'AppButton'
}
</script>

<style lang="stylus" scoped>
@require '../config/config.styl'

.c-button
  margin 3px
  display inline-block
  padding 5px 12px
  border-radius 3px
  border none
  box-shadow 0px 1px 1px rgba(black, .3)
  transition all 200ms ease-out
  noSelect()
  // noTapHighlight()
  &:hover
    cursor pointer
  &:active
    background-color darken(secondaryColor, 20%)
    transform scale(1.05)

.primary
  background primaryColor
  color primaryTextColor

.secondary
  background secondaryColor
  color secondaryTextColor
</style>
