<template>
  <div class="card" :class="active ? 'active' : '' " @click="handleCardActive">
    <div class="card-top">
      <h2 class="card-title">{{title | truncate16 }}</h2>
      <div class="card-top-distance" v-if="durationText && distanceText">
        <div class="travel-time">{{durationText | truncate6 }}</div>
        <svg class="seperator" xmlns="http://www.w3.org/2000/svg" width="7" height="7">
          <path fill="#4CCECA" fill-rule="evenodd" d="M0 0h7v7H0z"/>
        </svg>
        <div class="distance">{{distanceText}}</div>
      </div>
    </div>
    <span class="card-location">{{location.string}}</span><br>
    <span class="card-deal"></span>
    <div class="card-bottom">
      <span class="card-time">{{time}}</span>
      <svg class="seperator" xmlns="http://www.w3.org/2000/svg" width="7" height="7">
          <path fill="#4CCECA" fill-rule="evenodd" d="M0 0h7v7H0z"/>
        </svg>
      <span class="card-deal">{{ deal }}</span>
      <div class="directions" @click.stop="handleDirections">
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.644 11.151l-10.8-10.8a1.195 1.195 0 0 0-1.693 0l-10.8 10.8a1.202 1.202 0 0 0 0 1.698l10.8 10.794v.006c.468.468 1.23.468 1.698 0l10.8-10.8a1.197 1.197 0 0 0-.005-1.698zm-9.247 3.846v-3h-4.8v3.6h-2.4v-4.8c0-.666.534-1.2 1.2-1.2h6v-3l4.2 4.2-4.2 4.2z" fill="#4CCECA"/>
      </svg>
      </div>
    </div>
  </div>
</template>

<script>
import router from '../router/index'

export default {
  name: 'Card',
  props: ['id', 'title', 'time', 'location', 'deal', 'distanceText', 'durationText'],
  data () {
    return {
      active: false
    }
  },
  filters: {
    truncate6 (value) {
      if (value.includes('hour')) {
        return value.substring(0, 6) + ' +'
      } else {
        return value
      }
    },
    truncate16 (value) {
      if (value.length > 16) {
        return value.substring(0, 16) + '...'
      } else {
        return value
      }
    }
  },
  methods: {
    handleDirections () {
      this.$store.commit('setDestinationLocation', this.location.coords)
      this.$store.commit('setMapPicker', true)
    },
    handleCardActive () {
      this.$store.commit('setDestinationLocation', { lat: this.location.coords.lat, lng: this.location.coords.lng })
      router.push({ path: `place/${this.id}` })
    }
  }
}
</script>

<style lang="stylus" scoped>
@require '../config/config.styl'
.card
  width 100%
  max-width 600px
  border-radius 10px
  display flex
  flex-direction column
  margin 10px auto
  padding 5px 10px
  box-sizing border-box
  box-shadow 0px 2px 4px rgba(black, .7)
  background #fff
  height 100px
  color #000000
  &:hover
    opacity .8
    cursor  pointer
.card-title
  margin 0
  font-size 1.2rem
  line-height 1

.card-top
  display flex

.card-top-distance
  display flex
  align-items center
  margin-left auto

.card-bottom
  margin-top auto
  display flex
  align-items center

.directions
  noSelect()
  margin-left auto

.card-time, .card-location, .card-deal
  font-size 1rem

.seperator
  margin 0 10px

.card-time
  color tertiaryColor

</style>

