<template>
  <div class="day-picker">
      <span class="label">Day</span>
      <div class="day-wrapper">
        <div v-for="day in days" @click="handleMakeActive(day.value)" :key="day.value" class="day-btn" :class="day.active ? 'active' : ''" v-scroll-to-view="day.active">
            {{ day.text }}
        </div>
      </div>
  </div>
</template>

<script>
// import moment from 'moment'
import store from '../store/index'
import scrollToView from '@/directives/ScrollToView'
export default {
  directives: { scrollToView },
  data () {
    return {
      days: [
        { text: 'Monday', active: false, value: 1 },
        { text: 'Tuesday', active: false, value: 2 },
        { text: 'Wednesday', active: false, value: 3 },
        { text: 'Thursday', active: false, value: 4 },
        { text: 'Friday', active: false, value: 5 },
        { text: 'Saturday', active: false, value: 6 },
        { text: 'Sunday', active: false, value: 0 }
      ],
      activeDay: { }
    }
  },
  methods: {
    handleMakeActive (dayValue) {
      this.days.forEach(day => {
        day.active = false
        if (day.value === dayValue) {
          day.active = true
          this.activeDay = day
        }
      })
      store.commit('setDay', this.activeDay)
    }
  },
  computed: {
    getDay () {
      return this.$store.state.day
    }
  },
  created () {
    // let vm = this
    this.days.forEach(day => {
      if (day.value === this.$store.state.day.value) {
        day.active = true
        this.activeDay = day
      }
    })
  }
}
</script>

<style lang="stylus" scoped>
@require '../config/config.styl'

.day-picker
  margin-top 10px
  flex-direction column
  justify-content space-between
  overflow-x hidden

.label
  margin-left 10px
  font-weight 600

.day-wrapper
  align-self center
  padding 10px
  display flex
  overflow-x auto
  -webkit-overflow-scrolling touch
  &::-webkit-scrollbar
    background-color transparent
  @media (min-width: 734px)
    justify-content center

.day-btn
  border solid primaryColor 1px
  background none
  margin 3px
  display inline-block
  padding 5px 12px
  border-radius 3px
  color primaryColor
  transition background-color 200ms ease-out
  noSelect()
  &:hover
    background primaryColor
    color primaryTextColor
    cursor pointer
  &:active
    background darken(primaryColor, 5%)

.active
    background primaryColor
    color primaryTextColor
    cursor default

</style>

