<template>
  <transition name='slide-up'>
    <div class='map' v-if='active'>
      <action-bar @click.native='handleDirections'>Directions</action-bar> 
    <gmap-map
      :center='currentDestination'
      :zoom='16'
      style='width: 100vw; height: 50vh'
      ref='map'
      :options='{gestureHandling: 'greedy', disableDefaultUI: true, styles: styles}'
    >
    <gmap-marker
      :position='currentDestination'
      :icon='imageUrl'
      :clickable='true'
      @click='handleDirections'
    ></gmap-marker>

    </gmap-map>
  </div>  
  </transition>
</template>
<script>
import ActionBar from '@/components/Action/Action'
const directionImg = require('../img/directions.png')

export default {
  components: { ActionBar },
  props: ['active', 'destinationLocation', 'mode'],
  computed: {
    currentDestination () {
      return {lat: this.$store.getters.destinationLocation.lat, lng: this.$store.getters.destinationLocation.lng}
    }
  },
  data () {
    return {
      origin: this.$store.getters.userLocation,
      imageUrl: directionImg,
      // APPLE: d = car, w = foot, r = public trans
      transit: this.mode,
      styles: [
        {
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#1d2c4d'
            }
          ]
        },
        {
          'elementType': 'labels.text.fill',
          'stylers': [
            {
              'color': '#8ec3b9'
            }
          ]
        },
        {
          'elementType': 'labels.text.stroke',
          'stylers': [
            {
              'color': '#1a3646'
            }
          ]
        },
        {
          'featureType': 'administrative.country',
          'elementType': 'geometry.stroke',
          'stylers': [
            {
              'color': '#4b6878'
            }
          ]
        },
        {
          'featureType': 'administrative.land_parcel',
          'elementType': 'labels.text.fill',
          'stylers': [
            {
              'color': '#64779e'
            }
          ]
        },
        {
          'featureType': 'administrative.province',
          'elementType': 'geometry.stroke',
          'stylers': [
            {
              'color': '#4b6878'
            }
          ]
        },
        {
          'featureType': 'landscape.man_made',
          'elementType': 'geometry.stroke',
          'stylers': [
            {
              'color': '#334e87'
            }
          ]
        },
        {
          'featureType': 'landscape.natural',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#023e58'
            }
          ]
        },
        {
          'featureType': 'poi',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#283d6a'
            }
          ]
        },
        {
          'featureType': 'poi',
          'elementType': 'labels.text.fill',
          'stylers': [
            {
              'color': '#6f9ba5'
            }
          ]
        },
        {
          'featureType': 'poi',
          'elementType': 'labels.text.stroke',
          'stylers': [
            {
              'color': '#1d2c4d'
            }
          ]
        },
        {
          'featureType': 'poi.park',
          'elementType': 'geometry.fill',
          'stylers': [
            {
              'color': '#023e58'
            }
          ]
        },
        {
          'featureType': 'poi.park',
          'elementType': 'labels.text.fill',
          'stylers': [
            {
              'color': '#3C7680'
            }
          ]
        },
        {
          'featureType': 'road',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#304a7d'
            }
          ]
        },
        {
          'featureType': 'road',
          'elementType': 'labels.text.fill',
          'stylers': [
            {
              'color': '#98a5be'
            }
          ]
        },
        {
          'featureType': 'road',
          'elementType': 'labels.text.stroke',
          'stylers': [
            {
              'color': '#1d2c4d'
            }
          ]
        },
        {
          'featureType': 'road.highway',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#2c6675'
            }
          ]
        },
        {
          'featureType': 'road.highway',
          'elementType': 'geometry.stroke',
          'stylers': [
            {
              'color': '#255763'
            },
            {
              'weight': 0.5
            }
          ]
        },
        {
          'featureType': 'road.highway',
          'elementType': 'labels.text.fill',
          'stylers': [
            {
              'color': '#b0d5ce'
            }
          ]
        },
        {
          'featureType': 'road.highway',
          'elementType': 'labels.text.stroke',
          'stylers': [
            {
              'color': '#023e58'
            }
          ]
        },
        {
          'featureType': 'transit',
          'elementType': 'labels.text.fill',
          'stylers': [
            {
              'color': '#98a5be'
            }
          ]
        },
        {
          'featureType': 'transit',
          'elementType': 'labels.text.stroke',
          'stylers': [
            {
              'color': '#1d2c4d'
            }
          ]
        },
        {
          'featureType': 'transit.line',
          'elementType': 'geometry.fill',
          'stylers': [
            {
              'color': '#283d6a'
            }
          ]
        },
        {
          'featureType': 'transit.station',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#3a4762'
            }
          ]
        },
        {
          'featureType': 'water',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#0e1626'
            }
          ]
        },
        {
          'featureType': 'water',
          'elementType': 'labels.text.fill',
          'stylers': [
            {
              'color': '#4e6d70'
            }
          ]
        }
      ]

    }
  },
  methods: {
    handleDirections () {
      this.$nextTick(() => {
        let ok = confirm('Will open in your Maps Application.')
        if (ok) {
          window.location = `http://maps.apple.com/?saddr=${this.origin.lat},${this.origin.lng}&daddr=${this.$store.getters.destinationLocation.lat},${this.$store.getters.destinationLocation.lng}&dirflg=${this.transit}`
        }
      })
    }
  }
}
</script>
<style lang='stylus' scoped>
@require '../config/config.styl'

.map
  box-shadow 0 -2px 2px rgba(0, 0, 0, .3)
  // border-top 4px solid tertiaryColor
  position fixed
  bottom 0
  left 0
  width 100vw
  z-index 5
  height 50vh

</style>
