<template>
<div class="outer">
  <div class="label-wrapper">
      <span class="label">{{ label }}</span>
    <switches v-model="afternoon" theme="bulma"></switches> <span class="time">{{ afternoon ? 'PM' : 'AM'}}</span>
    </div>
  <div class="picker">
      <div class="wrapper">
        <template>
          <div class="btn"
                v-for="element in getFields"
                :key="element.value"
                @click="clickHandler(element)"
                :class="element.active ? 'active' : '' "
                v-scroll-to-view="element.active"
                >{{ element.text }}
          </div>
        </template>
      </div>
  </div>
</div>
</template>

<script>
// import moment from 'moment'
// import store from '../store/index'
import Switches from 'vue-switches'
import AppButton from '@/components/Button'
import scrollToView from '@/directives/ScrollToView'
export default {
  components: { AppButton, Switches },
  directives: { scrollToView },
  props: ['fields', 'label', 'isAfternoon', 'clickHandler'],
  data () {
    return {
      afternoon: true,
      color: '#4CCECA'
    }
  },
  computed: {
    getFields () {
      if (this.afternoon) {
        // If component state is afternoon, render only pms
        return this.$props.fields.slice(12, 24)
      } else {
        // Otherwise render only ams
        return this.$props.fields.slice(0, 12)
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
@require '../config/config.styl'

.outer
  padding-top 10px
  padding-bottom 10px
  background lighten(baseColor, 10%)

.time
  color secondaryColor
  margin-left 10px
  margin-right 10px

.label-wrapper
  display flex
  align-items center

.label
  margin-right auto
  margin-left 10px
  font-weight 600

.picker
  display flex
  justify-content center
  align-items center
  width 98vw
  margin 0 auto
  overflow-x hidden

.wrapper
  padding 10px
  display flex
  overflow-x auto
  -webkit-overflow-scrolling touch
  &::-webkit-scrollbar
    width 0
    background-color transparent

.btn
  border solid primaryColor 1px
  background none
  margin 3px
  display inline-block
  padding 5px 12px
  border-radius 3px
  color primaryColor
  noSelect()
  transition background-color 200ms ease-out
  &:hover
    background primaryColor
    color primaryTextColor
    cursor pointer
  &:active
    background darken(primaryColor, 5%)

.active
    background primaryColor
    color primaryTextColor
    cursor default

</style>

