<template>
  <div class="place-filter">
    <app-button title="Filter" @click.native="openFilter"></app-button>
    <app-button title="Refresh" @click.native="refreshFeed"/>
    <select name="mode" class="mode">
      <option value="walk">Walk</option>
      <option value="drive">Drive</option>
      <option value="transport">Transport</option>
    </select>
    <bounce-loader v-if="gettingLocation" :loading="true" size="200px" :color="'#4CCECA'" class="location-loader"/>
    <switches v-model="location" theme="bulma" @click.native="handleLocation" label="Location" :color="locationColor"></switches>
  </div>
</template>
<script>
import Button from './Button'
import Switches from 'vue-switches'
import getLocation from '../Services/GetLocation'
import BounceLoader from 'vue-spinner/src/BounceLoader'
import { setLocalStorage, getLocalStorage } from '../Services/LocalStorage'

export default {
  components: { 'app-button': Button, Switches, BounceLoader },
  data () {
    return {
      location: false,
      gettingLocation: false,
      locationColor: 'blue'
    }
  },
  mounted () {
    if (getLocalStorage('locationEnabled') === 'true') {
      this.$store.commit('setLocationEnabled', true)
      this.location = true
      this.handleLocation()
    }
    // if (this.$store.getters.locationEnabled === 'true') {
    //   console.log('Location enabled')
    //   this.location = true
    //   this.handleLocation()
    // } else {
    //   alert('This app works better with location services enabled.')
    // }
  },
  computed: {
    thisLocation () {
      return this.location
    }
  },
  methods: {
    refreshFeed () {
      this.$emit('refresh')
    },
    openFilter () {
      this.$store.commit('setFilterEnabled', true)
    },
    handleLocation () {
      const vm = this
      this.gettingLocation = true
      if (!this.location) {
        getLocation()
      .then((pos) => {
        this.gettingLocation = false
        this.location = true
        this.locationColor = 'green'
        const locationObj = {
          lat: pos.coords.latitude,
          lng: pos.coords.longitude
        }
        // mutate current location
        this.$store.commit('setUserLocation', locationObj)
        // Set local storage
        setLocalStorage('locationEnabled', true)
        vm.$emit('refresh')
      })
      .catch((err) => {
        this.location = false
        this.gettingLocation = false
        localStorage.clear()
        alert(`You (or your browser) have denied locoation permission. Error message: ${err}`)
      })
      } else {
        this.gettingLocation = false
        this.locationColor = 'blue'
        localStorage.clear()
        this.$store.commit('setUserLocation', { lat: undefined, lng: undefined })
        vm.$emit('refresh')
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
@require '../config/config.styl'

.place-filter
  background lighten(baseColor, 10%)
  width 100%
  padding 10px 15px
  box-sizing border-box
  align-items center
  display flex

.mode
  border none 
  color white
  background primaryColor
  border-radius 3px
  padding 5px 12px
  margin auto auto auto 3px
  display inline-block
  text-align center
  height 32px
  -moz-appearance none
  -webkit-appearance none

.location-loader
  position fixed
  z-index 100
  top 0
  bottom 0
  left 0
  right 0
  margin auto
  display flex
  align-items center
  justify-content center

</style>
