<template>
  <div>
    <transition name="slide-down">
      <div v-cloak v-if="filterEnabled" class="filter">
          <day-picker></day-picker>
          <time-picker></time-picker>
          <!-- <Action>Let's Go</Action> -->
      </div>
      </transition>

  </div>
</template>

<script>
import DayPicker from '@/components/DayPicker'
import TimePicker from '@/components/TimePicker'
import AppButton from '@/components/Button'
import Action from '@/components/Action/Action'

export default {
  components: { DayPicker, TimePicker, AppButton, Action },
  name: 'search-filter',
  computed: {
    filterEnabled () {
      if (this.$store.state.filterEnabled) {
        return true
      } else {
        return false
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
@require '../config/config.styl'

.filter
  z-index 50
  width 100vw
  position fixed
  top headerHeight
  background baseColor
  box-shadow 0 1px 2px rgba(black, .4)

.slide-down-enter-active
  animation slide-down 300ms naturalMovement
.slide-down-leave-active
  animation slide-down 300ms naturalMovement reverse

@keyframes slide-down
  0%
    // opacity 0
    transform translateY(-50vh)
  100%
    // opacity 1
    transform translateY(0)

</style>

