<template>
  <div>
      <div class="wrapper">
        <picker :clickHandler="startHandler" :isAfternoon="true" :fields="start" label="Start"></picker>
        <picker :clickHandler="endHandler" :isAfternoon="true" :fields="end" label="End"></picker>
      </div>
  </div>
</template>

<script>
import AppButton from '@/components/Button'
import Picker from '@/components/Picker'

export default {
  components: { AppButton, Picker },
  data () {
    return {
      start: [
        { text: '12am', value: 0, active: false },
        { text: '1am', value: 1, active: false },
        { text: '2am', value: 2, active: false },
        { text: '3am', value: 3, active: false },
        { text: '3am', value: 4, active: false },
        { text: '5am', value: 5, active: false },
        { text: '6am', value: 6, active: false },
        { text: '7am', value: 7, active: false },
        { text: '8am', value: 8, active: false },
        { text: '9am', value: 9, active: false },
        { text: '10am', value: 10, active: false },
        { text: '11am', value: 11, active: false },
        { text: '12pm', value: 12, active: false },
        { text: '1pm', value: 13, active: false },
        { text: '2pm', value: 14, active: false },
        { text: '3pm', value: 15, active: false },
        { text: '4pm', value: 16, active: false },
        { text: '5pm', value: 17, active: false },
        { text: '6pm', value: 18, active: false },
        { text: '7pm', value: 19, active: false },
        { text: '8pm', value: 20, active: false },
        { text: '9pm', value: 21, active: false },
        { text: '10pm', value: 22, active: false },
        { text: '11pm', value: 23, active: false }
      ],
      end: [
        { text: '12am', value: 0, active: false },
        { text: '1am', value: 1, active: false },
        { text: '2am', value: 2, active: false },
        { text: '3am', value: 3, active: false },
        { text: '3am', value: 4, active: false },
        { text: '5am', value: 5, active: false },
        { text: '6am', value: 6, active: false },
        { text: '7am', value: 7, active: false },
        { text: '8am', value: 8, active: false },
        { text: '9am', value: 9, active: false },
        { text: '10am', value: 10, active: false },
        { text: '11am', value: 11, active: false },
        { text: '12pm', value: 12, active: false },
        { text: '1pm', value: 13, active: false },
        { text: '2pm', value: 14, active: false },
        { text: '3pm', value: 15, active: false },
        { text: '4pm', value: 16, active: false },
        { text: '5pm', value: 17, active: false },
        { text: '6pm', value: 18, active: false },
        { text: '7pm', value: 19, active: false },
        { text: '8pm', value: 20, active: false },
        { text: '9pm', value: 21, active: false },
        { text: '10pm', value: 22, active: false },
        { text: '11pm', value: 23, active: false }
      ],
      pickedTime: {}
    }
  },
  methods: {
    startHandler (clickedTime) {
      this.start.map((time) => {
        time.active = false
        if (time === clickedTime) {
          time.active = true
          this.$store.commit('setStartTime', clickedTime)
        }
      })
    },
    endHandler (clickedTime) {
      this.end.map((time) => {
        time.active = false
        if (time === clickedTime) {
          time.active = true
          this.$store.commit('setEndTime', clickedTime)
        }
      })
    }
  },
  beforeMount () {
    this.start.map(time => {
      if (time.value === this.$store.state.currentStartTime.value) {
        time.active = true
      }
    })
    this.end.map(time => {
      if (time.value === this.$store.state.currentEndTime.value) {
        time.active = true
      }
    })
  }
}
</script>

<style lang="stylus" scoped>

</style>
