<template>
  <button class="action">
    <slot></slot>
  </button>
</template>

<script>
export default {

}
</script>

<style lang="stylus" scoped>
@require '../../config/config.styl'

.action
  background secondaryColor
  width 100%
  color textColor
  text-align center
  border none
  padding .9rem
  font-weight 600
</style>
