<template>
  <transition name="opacity">
    <div class="overlay" @click="handleOverlay" v-if="overlayEnabled"></div>
  </transition>
</template>
<script>
export default {
  computed: {
    overlayEnabled () {
      if (this.$store.state.filterEnabled || this.$store.getters.isMapActive || this.$store.getters.mapPicker) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    handleOverlay () {
      this.$store.commit('setFilterEnabled', false)
      this.$store.commit('setMapActive', false)
      this.$store.commit('setMapPicker', false)
    }
  }
}
</script>
<style lang="stylus" scoped>
@require '../../config/config.styl'

.opacity-enter-active
  animation opacity 300ms naturalMovement
.opacity-leave-active
  animation opacity 300ms naturalMovement reverse

@keyframes opacity
  from
    opacity 0
  to
    opacity 1

.overlay
  background rgba(black, .8)
  position fixed
  height 100vh
  width 100vw
  top 0
  left 0
  z-index 30
  noTapHighlight()
</style>
