<template>
  <div class="wrapper" v-cloak>
    <img class="map" :class="!this.$store.getters.locationEnabled && 'blur' " :src="`https://maps.googleapis.com/maps/api/staticmap?size=640x304&maptype=roadmap
&markers=color:blue%7Cicon:${pin}%7C${userLat},${userLng}&markers=icon:${beer}%7C${this.destLat},${this.destLng}&key=AIzaSyC7C-vZ1a3jEGOQm1cQZgWsgL6SlHFk8VY&style=element:geometry%7Ccolor:0x2e294e&style=element:labels%7Csaturation:70%7Cvisibility:off&style=element:labels.text.fill%7Ccolor:0xc5d86d&style=element:labels.text.stroke%7Ccolor:0x1a3646&style=feature:administrative.country%7Celement:geometry.stroke%7Ccolor:0x4b6878&style=feature:administrative.land_parcel%7Celement:labels.text.fill%7Ccolor:0x64779e&style=feature:administrative.province%7Celement:geometry.stroke%7Ccolor:0x4b6878&style=feature:landscape.man_made%7Celement:geometry.stroke%7Ccolor:0x334e87&style=feature:landscape.natural%7Celement:geometry%7Ccolor:0x2e294e&style=feature:poi%7Celement:geometry%7Ccolor:0x283d6a&style=feature:poi%7Celement:labels.text.fill%7Ccolor:0x6f9ba5&style=feature:poi%7Celement:labels.text.stroke%7Ccolor:0x1d2c4d&style=feature:poi.park%7Celement:geometry.fill%7Ccolor:0x023e58&style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x3C7680&style=feature:road%7Celement:geometry%7Ccolor:0x304a7d&style=feature:road%7Celement:labels.text.fill%7Ccolor:0x98a5be&style=feature:road%7Celement:labels.text.stroke%7Ccolor:0x1d2c4d&style=feature:road.highway%7Celement:geometry%7Ccolor:0x2c6675&style=feature:road.highway%7Celement:geometry.stroke%7Ccolor:0x255763&style=feature:road.highway%7Celement:labels%7Cvisibility:on&style=feature:road.highway%7Celement:labels.text.fill%7Ccolor:0xb0d5ce&style=feature:road.highway%7Celement:labels.text.stroke%7Ccolor:0x023e58&style=feature:road.local%7Celement:labels%7Cvisibility:on&style=feature:transit%7Celement:labels.text.fill%7Ccolor:0x98a5be&style=feature:transit%7Celement:labels.text.stroke%7Ccolor:0x1d2c4d&style=feature:transit.line%7Celement:geometry.fill%7Ccolor:0x283d6a&style=feature:transit.line%7Celement:labels%7Cvisibility:on&style=feature:transit.station%7Celement:geometry%7Ccolor:0x3a4762&style=feature:transit.station%7Celement:labels%7Cvisibility:on&style=feature:transit.station.bus%7Celement:labels%7Cvisibility:on&style=feature:transit.station.rail%7Celement:labels%7Cvisibility:on&style=feature:water%7Celement:geometry%7Ccolor:0x0e1626&style=feature:water%7Celement:labels.text.fill%7Ccolor:0x4e6d70`" :alt="alt">
<div class="info">
  <span v-if="distance" class="info__item">{{distance.text}}</span>
  <!-- <span class="info__item">10 mins</span> -->
</div>
  </div>
</template>
<script>
export default {
  props: ['distance'],
  data () {
    return {
      beer: 'https://i.imgur.com/5mpwW7S.png',
      pin: 'https://i.imgur.com/yQnkRDF.png',
      alt: 'static map'
    }
  },
  computed: {
    userLat () {
      return this.$store.getters.userLocation.lat
    },
    userLng () {
      return this.$store.getters.userLocation.lng
    },
    destLat () {
      return this.$store.getters.destinationLocation.lat
    },
    destLng () {
      return this.$store.getters.destinationLocation.lng
    }
  }
}
</script>
<style lang="stylus" scoped>
@require '../../config/config.styl'

.wrapper
  position absolute
  top 0
  z-index 1
  width 100%
  left 0
  border-bottom solid 2px primaryColor
  @media (min-width: 700px)
    max-height 300px
    display flex
.map
  @media (min-width: 700px)
    filter blur(10px)
    width 100%
    justify-content center
    // display none

.blur
  filter blur(15px)

.info
  position absolute
  right 10px
  top 15px
.info__item
  background primaryColor
  padding 5px 10px
  border-radius 3px

</style>
