<template>
  <div id="app">
      <app-header></app-header>
      <keep-alive include="search-filter">
        <search-filter></search-filter>
      </keep-alive>
      <transition :name="route" mode="out-in">
        <keep-alive include="Home">
          <router-view />
        </keep-alive>
      </transition>
      <go-bar />
      <!-- Overlay -->
      <overlay />
      <!-- Allows picking of maps -->
      <map-picker />
  </div>
</template>

<script>
import SearchFilter from '@/components/SearchFilter'
import Header from '@/components/shared/Header'
import store from './store/index'
import UserAgent from './Services/UserAgent'
// import router from './router/index'
import MapPicker from './components/MapPicker/MapPicker'
import Overlay from './components/Overlay/Overlay'
import GoBar from '@/components/GoBar/GoBar'
import CreateUser from '@/components/CreateUser/CreateUser'

export default {
  name: 'app',
  store,
  components: { 'app-header': Header, SearchFilter, MapPicker, Overlay, GoBar, CreateUser },
  data () {
    return {
      route: 'home'
    }
  },
  methods: {
    refresh () {
      window.location.reload()
    },
    setCurrentRoute () {
      let route = this.$route.name.toLowerCase()
      this.route = route
      this.$store.commit('setCurrentRoute', route)
    }
  },
  updated () {
    this.setCurrentRoute()
  },
  mounted () {
    if (UserAgent.phone()) {
      this.$store.commit('setPhone', UserAgent.phone().toLowerCase())
    }
    this.setCurrentRoute()
    if (localStorage.getItem('token')) {
      this.$store.commit('setAuth', true)
    }
  }
}
</script>

<style lang="stylus">
@require './config/normalize.styl'
@require './config/config.styl'

html, body
  overflow-x hidden
  background baseColor

body
  // System fontstack
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  // Base
  margin 0
  color textColor
  font-size 1.1rem

.home-enter-active
  animation home 200ms naturalMovement 
  
.home-leave-active
  animation home 200ms naturalMovement reverse

.place-enter-active, .settings-enter-active,
.signup-enter-active, .login-enter-active
  animation place 200ms natsauralMovement reverse

.place-leave-active, .settings-leave-active,
.signup-leave-active, .login-leave-active
  animation place 200ms naturalMovement 

@keyframes home
  from
    transform translateX(-100vw)
  to
    transform translateX(0)

@keyframes place
  from
    transform translateX(0)
  to
    transform translateX(100vw)

.appear-enter-active
  animation fade 300ms naturalMovement 
.appear-leave-active
  animation fade 300ms naturalMovement reverse

@keyframes fade
  from
    opacity 0
  to
    opacity 1


[v-cloak]
  display none


.slide-up-enter-active
  animation slide-up 300ms naturalMovement
.slide-up-leave-active
  animation slide-up 300ms naturalMovement reverse

@keyframes slide-up
  0%
    // opacity 0
    transform translateY(50vh)
  100%
    // opacity 1
    transform translateY(0)

</style>

