<template>
  <div class="go-bar">
    <span class="search-string" @click="handleFilter">Search on <span class="green">{{getDay.text}}</span> from <span class="green">{{getStartTime.text}}</span> - <span class="green">{{getEndTime.text}}</span></span>
    <app-button title="Go"></app-button>
  </div>
</template>

<script>
import AppButton from '@/components/Button'

export default {
  components: { AppButton },
  name: 'GoBar',
  computed: {
    getDay () { return this.$store.getters.day },
    getStartTime () { return this.$store.getters.startTime },
    getEndTime () { return this.$store.getters.endTime }
  },
  methods: {
    handleFilter () {
      this.$store.commit('setFilterEnabled', !this.$store.state.filterEnabled)
    }
  }
}
</script>

<style lang="stylus" scoped>
@require '../../config/config'

.go-bar {
  background baseColor
  position fixed
  bottom 0
  left 0
  height headerHeight * 1.5
  width 100vw
  box-sizing border-box
  display flex
  justify-content space-between
  align-items center
  padding 20px 5vw
  border-top solid 2px secondaryColor
  z-index 2
}

.search-string
  margin-right 10px

.green
  color primaryColor
  text-decoration underline

</style>
