<template>
  <transition name="slide-up">
    <div v-if="this.$store.getters.mapPicker" class="picker">
      <span v-if="iPhone" @click="handleAppleMaps">
        <svg width="22" height="26" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.5 20.3a14.1 14.1 0 0 1-3.2 4.7c-.6.6-1.4 1-2.3 1-.6 0-1.3-.2-2.1-.5a5.7 5.7 0 0 0-4.7 0l-2 .5c-.9 0-1.7-.3-2.5-1-3-3-4.6-6.8-4.7-11 0-1.5.4-3.1 1.1-4.5 1.2-2 3.3-3.2 5.6-3.3.7 0 1.5.2 2.5.6a8 8 0 0 0 2 .6c.2 0 1-.2 2.2-.7 1-.4 2-.6 3-.5 2 0 3.7 1 5 2.6-2 1-3 2.9-3 5 0 1.6.6 3 1.8 4 .5.6 1.1 1 1.8 1.2l-.5 1.3zM16.5.5c0 1.3-.5 2.5-1.4 3.7a5.5 5.5 0 0 1-4 2l-.1-.5A6 6 0 0 1 16.5 0v.5z" fill="#888"/>
        </svg>
      </span>
      <span @click="handleGoogleMaps">
        <svg width="25" height="26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <path d="M24.7 11H13.1v4.9h6.7c-.7 3.1-3.3 4.9-6.7 4.9A7.4 7.4 0 0 1 6 15.5c-1-3.1.2-6.6 2.9-8.4a7.3 7.3 0 0 1 8.8.4l3.6-3.7A12 12 0 0 0 8 1.7C3.4 3.7.5 8.3.6 13.3.6 20.3 6.2 26 13 26c6.3 0 12-4.6 12-12.7 0-.8-.1-1.6-.3-2.3z" id="a"/>
            <path d="M24.7 11H13.1v4.9h6.7c-.7 3.1-3.3 4.9-6.7 4.9A7.4 7.4 0 0 1 6 15.5c-1-3.1.2-6.6 2.9-8.4a7.3 7.3 0 0 1 8.8.4l3.6-3.7A12 12 0 0 0 8 1.7C3.4 3.7.5 8.3.6 13.3.6 20.3 6.2 26 13 26c6.3 0 12-4.6 12-12.7 0-.8-.1-1.6-.3-2.3z" id="c"/>
            <path d="M24.7 11H13.1v4.9h6.7c-.7 3.1-3.3 4.9-6.7 4.9A7.4 7.4 0 0 1 6 15.5c-1-3.1.2-6.6 2.9-8.4a7.3 7.3 0 0 1 8.8.4l3.6-3.7A12 12 0 0 0 8 1.7C3.4 3.7.5 8.3.6 13.3.6 20.3 6.2 26 13 26c6.3 0 12-4.6 12-12.7 0-.8-.1-1.6-.3-2.3z" id="e"/>
            <path d="M24.7 11H13.1v4.9h6.7c-.7 3.1-3.3 4.9-6.7 4.9A7.4 7.4 0 0 1 6 15.5c-1-3.1.2-6.6 2.9-8.4a7.3 7.3 0 0 1 8.8.4l3.6-3.7A12 12 0 0 0 8 1.7C3.4 3.7.5 8.3.6 13.3.6 20.3 6.2 26 13 26c6.3 0 12-4.6 12-12.7 0-.8-.1-1.6-.3-2.3z" id="g"/>
          </defs>
          <g fill="none" fill-rule="evenodd">
            <mask id="b" fill="#fff">
              <use xlink:href="#a"/>
            </mask>
            <path fill="#FBBC05" fill-rule="nonzero" mask="url(#b)" d="M-.6 20.8v-15l9.7 7.5z"/>
            <mask id="d" fill="#fff">
              <use xlink:href="#c"/>
            </mask>
            <path fill="#EA4335" fill-rule="nonzero" mask="url(#d)" d="M-.6 5.8l9.7 7.5 4-3.5 13.6-2.3v-8H-.6z"/>
            <mask id="f" fill="#fff">
              <use xlink:href="#e"/>
            </mask>
            <path fill="#34A853" fill-rule="nonzero" mask="url(#f)" d="M-.6 20.8l17-13.3 4.6.6 5.7-8.7v27.8H-.6z"/>
            <mask id="h" fill="#fff">
              <use xlink:href="#g"/>
            </mask>
            <path fill="#4285F4" fill-rule="nonzero" mask="url(#h)" d="M26.7 27.2l-17.6-14-2.3-1.6 19.9-5.8z"/>
          </g>
        </svg>

      </span>
    </div>  
  </transition>
</template>
<script>
export default {
  data () {
    return {
      iPhone: false,
      origin: {},
      destination: {}
    }
  },
  methods: {
    handleAppleMaps () {
      window.location = `http://maps.apple.com/?saddr=${this.origin.lat},${this.origin.lng}&daddr=${this.destination.lat},${this.destination.lng}&dirflg=w`
    },
    handleGoogleMaps () {
      window.open(`https://www.google.com/maps/dir/?api=1&origin=${this.origin.lat},${this.origin.lng}&destination=${this.destination.lat},${this.destination.lng}&travelmode=walking`)
    }
  },
  updated () {
    if (this.$store.getters.phone === 'iphone' || !this.$store.getters.phone) {
      this.iPhone = true
    }
    console.log(this.phone)
    this.origin = this.$store.getters.userLocation
    this.destination = this.$store.getters.destinationLocation
  }
}
</script>
<style lang="stylus" scoped>
@require '../../config/config.styl'

.picker
  position fixed
  z-index 40
  bottom 0
  left 0
  width 100vw
  height headerHeight * 1.5
  display flex
  justify-content space-around
  align-items center
  background #ddd
  color #333

</style>
